[2014-12-30 19:46] manojlds opened #1 "Poller should only trigger after all artifacts are uploaded"
Since publish first creates the "revision" and then goes on to upload the files, the poller can trigger even before all the files are uploaded.

A possible workaround is to set a metadata, say "complete" on the revision after uploading form publish, and poller trigger only when this metadata is found.

@sriram-r @ashwanthkumar

[2015-01-02 17:18] #1 closed, assigned to nobody

[2015-02-23 20:03] bsnchan opened #3 "Publish to S3 plugin: Clicking "Add" does not expand the source + destination text fields"
The Add button in the Publish to S3 modal does not seem to add text boxes for the source and destination. This is using GoCD 14.4.0 and Chrome 40.0.2.

The plugin was built from [master](https://github.com/ind9/gocd-s3-artifacts/commit/c78c6e6aa9c3b834da93c32b363791df472ad131) (I don't seem to have access to download the plugin for your Snap CI build).

It appears the javascript does not get loade

[2015-02-23 20:54] manojlds commented on #3
@bsnchan Thanks for your interest in this!

Didn't realize that snap-ci didn't provide artifacts for public users. Will look at alternate way to get the artifacts (Github releases maybe).

Can I know how you built the plugins? If you had done `sbt clean assembly` alone, then that might explain why the plugin is broken.

Can you build the plugins by running the `./build.sh`?

Thanks again
Manoj

[2015-02-24 21:24] bsnchan commented on #3
@manojlds

Github release would be a great way to provide artifacts. I tried to look for the download button on Snap CI and couldn't find it anywhere.

Running `./build.sh` seemed to build the plugins correctly. Thanks for all your help on getting us set up!

[2015-02-24 21:24] #3 closed

[2015-02-24 21:33] bsnchan opened #5 "Fetch S3 artifact task is returning Error: null"
We recently built the s3 plugins using the `./build.sh` script.

However when attempting to fetch artifacts from a s3 package, we get the following error:
[code]

This is the set up we have:
* pipeline-a publishes an artifact to s3
* pipeline-b has a s3 bucket as the material: `Repository: [s3_bucket=my-artifacts] - Package: [pipeline_name=pipeline-a, stage_name=<my-stage>, job_name=<my-job>]`. Th

[2015-02-25 03:51] sriram-r commented on #5
I'm assuming the S3 Material plugin is setup on the same Go server. Can you dig up the go-server logs to see if there are some errors there? If you can ```pastebin``` the logs, it would be useful

[2015-02-25 05:08] manojlds opened #6 "Upgrade to Go json api"

[2015-02-25 14:59] bsnchan commented on #5
@sriram-r

The paste bin link can be found [here](http://pastebin.com/W4hTb180). Thanks for all your help!

[2015-02-26 09:34] sriram-r commented on #5
I couldn't glean much from the logs either. Here's what I would suggest.
- Please verify if the S3 material plugin is setup and picked up by the Go Server
- Please check if there's anything in the Go server log for this material. Are Material updates for this material going through fine?
- Does the agent get the revision number when it tries to fetch a package...

Finally, might be silly, I hope t

[2015-02-27 20:18] bsnchan commented on #5
An interesting thing I found from the server logs is that the material plugin is able to detect a modification in my s3 bucket successfully. However, the directory that the logs say is the flyweight's working directory does not actually exist on the Go Server.

If you look at the [logs](http://pastebin.com/Lg3eiGk8), on line 14 it says the flyweight's working directory is `/var/vcap/store/gocd/pip

[2015-03-01 16:14] manojlds commented on #5
Hi @bsnchan

To help us debug the issue, can you please give some details on your setup, especially on how you have configured the AWS credentials?

Also, can you provide the full job log (to see the environment variables set by the Materials plugin.)

Thanks
Manoj

[2015-03-01 19:22] manojlds commented on #5
@bsnchan Can you also please try the latest build from here - https://github.com/ind9/gocd-s3-artifacts/releases/tag/v1.0.21

Thanks
Manoj

[2015-03-01 19:50] manojlds opened #7 "Make Publish and Fetch task use the same client credentials as Material"
The Material plugin picks up credentials as specified here - http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/AmazonS3Client.html#AmazonS3Client()

The Publish and Fetch tasks pick the credentials only from the environment variables.

[2015-03-02 15:33] bsnchan commented on #5
Hi @manojlds

We tried the latest build for our pipelines. The logs still kind of look the same - the flyweight working directory in the log does not actually exist on the Go Server. You can find the logs [here](http://pastebin.com/GZ0NTRFc).

The job log can be found [here](http://pastebin.com/ZDtskwEw).

Again, thank you so much for all your help. We really appreciate it!

Thanks,
Brenda and Der

[2015-03-02 18:13] ashwanthkumar commented on #5
@bsnchan Can you check / share the agent logs? You can find them on `/var/vcap/data/gocd-agent/go-agent.log`. We're looking for some ERROR messages or java stack traces in there when the task is executed.

[2015-03-02 18:25] bsnchan commented on #5
@ashwanthkumar

I have attached the go-agent logs [here](http://pastebin.com/6dsULHx5). There is one runtime exception.

[2015-03-02 18:40] ashwanthkumar commented on #5
And, nothing on the `plugin-indix.s3fetch.log` ?

[2015-03-02 19:53] bsnchan commented on #5
There are no files called `plugin-indix.s3fetch.log` on our go-agent. We did a `find` on the whole system to search for it.

[2015-03-03 03:56] manojlds commented on #5
I was able to reproduce the issue if I configure the `Fetch` task wrongly i.e give wrong Repo name or Package name. Can you please check the configuration, and also post a screenshot from the admin screen? From your job log, your repo name must be `S3_ARTIFACTS` and package name must be `PUBLISH_S3_ARTIFACT`

The plugin is not informing configuration issues well, so we will also make changes to en

[2015-03-03 16:44] bsnchan commented on #5
@manojlds Thanks for all your help!

It looks like the fetch plugin converts all dashes to underscores. Our repo and package names were "s3-artifacts" and "publish-s3-artifact" in both the Admin screen and Materials screen. The fetch plugin required theses to be "s3_artifacts" and "publish_s3_artifact" to work correctly.

[2015-03-03 16:44] #5 closed

[2015-03-03 16:52] manojlds commented on #5
@bsnchan - Glad it works! Please do take the latest [build](https://github.com/ind9/gocd-s3-artifacts/releases/tag/v1.0.22) as that has better validation and error messages.

Actually, Go changes the names to have underscores when it creates the environment variables . I will track this in a separate issue to see if the plugin can handle this better.

Please do provide us with feedback on your usa

[2015-03-03 16:54] manojlds opened #8 "Make reading material configuration information foolproof"
As noted in #5 , if the repo/package names had `-`, they are converted to `_` by Go when creating the environment variables.

The Fetch plugin must obtain this information in a more foolproof.

[2015-03-30 15:11] sgran opened #9 "Allow alternate methods of authentication"
Hi,

There are several supported methods of authentication - Environment variables, Config files, instance profiles, etc.

Currently only environment variables are supported by this plugin.  Can you drop that hardcoded requirement and let the SDK do authentication discovery?

Cheers,

[2015-03-30 17:01] manojlds commented on #9
Thanks for the input. This is known, and tracked in #7

[2015-03-30 17:01] #9 closed

[2015-07-19 05:55] johncmckim opened #10 "Environment Variable for artifactsLocationTemplate()"
Currently all artifacts are uploaded to a bucket with the prefix `pipeline/stage/job/pipeline_counter.stage_counter`.

We would like to be able to upload artifacts to a bucket with a different prefix specified in a pipeline parameter i.e. s3://bucket-name/application-name/client-name/version/.

Can GoEnvironment.java be changed to first check if a specific pipeline parameter exists and use that in

[2015-07-19 05:59] sriram-r commented on #10
@johncmckim We could do that. We need to take care of how getLatestRevision would work too. Right now, getLatestRevision is based on this convention - both in terms of the dir structure and the way the version is maintained - pipeline_counter.stage_counter. So, any changes to the path will affect the fetch-s3-plugin too.

OTOH, if you want to use publish s3 plugin for just artifact storage, which

[2015-07-19 06:17] johncmckim commented on #10
In our use case, we are only interested in the publish component. Our goal is to publish deployable packages to S3 that is then distributed and installed via our internal systems. The current structure does not work well for this.

However, I can see the issue for those using for both publish and fetch. If I was using this purely for artifact storage I would not to change it away from the default.

[2015-07-19 06:20] sriram-r commented on #10
Exactly. The intention was to use them in tandem. I've had (many) situations where I wanted to publish to a specific prefix in S3. The right solution for that would be to keep it as task level configuration(which would override default settings). It gives best of both worlds.

@manojlds @ashwanthkumar Thoughts?

[2015-07-19 20:38] ashwanthkumar commented on #10
+1

[2015-07-20 05:15] manojlds commented on #10
+1 something we should have.

[2015-07-20 23:26] johncmckim commented on #10
Thanks everyone. This is something that we are going to need in the near term. However, I understand our timeline might not fit in with yours.

If you think this might be a while away from being implemented, I am happy to contribute with a pull request.

[2015-07-22 08:55] ashwanthkumar commented on #10
It would be great if you could send in a PR, we'll be happy to review and merge the changes.

[2015-07-22 10:31] johncmckim commented on #10
Awesome. I'll put something together soon. Looks like a simple change.

[2015-08-08 08:51] moritzheiber opened #12 "Support for cross-account materials"
We are using, [as it's considered best practice](https://cloudonaut.io/your-single-aws-account-is-a-serious-risk/), multiple accounts for our Go.CD infrastructure. This also means our agents are running in different accounts for difference environments:
- Account A: Go.CD servver
- Account B: Go.CD agents for account B
- Account C: Go.CD agents for account C

We've decided to put all of our S3 art

[2015-08-08 11:09] ashwanthkumar commented on #12
Some questions so we understand this scenario better
- How are agents talking to Server now? Is it over internet (HTTPs)?
- Can you please explain how does your current setup using AWS CLI/SDK work across accounts? Does it use [mfacli.sh](https://github.com/widdix/aws-mfacli/blob/master/mfacli.sh)?

[2015-08-08 17:42] moritzheiber commented on #12
- Our agents are in their own VPCs, peered with the Go.CD server's VPC, so they're talking to the server over a private network, without any access from the outside.

- The agents are allowed to upload to a certain bucket in one account using a bucket policy and IAM policies in their respective accounts.

[2015-08-10 14:10] ashwanthkumar commented on #12
Thanks for that. The plugin is built with an assumption that the AWS keys (`AWS_SECRET_ACCESS_KEY` and `AWS_ACCESS_KEY_ID`) are available as environment variables on the machines (server and the agents).

If creating an IAM user (with the existing policies) an option, then you could use those keys as the environment variables. I'm not aware of the exact good practice - if creating 1 IAM user with

[2015-08-11 11:27] moritzheiber commented on #12
I'm assuming you're using the AWS SDK with this plugin. Which means it knows about IAM instance roles and how to make use of them (i.e. you don't need to set these variables, they're available to the instance/SDK the code is running on).

And yes, it's absolutely possible to have an instance from another account access resources from another, however, adding a material on the server fails of the b

[2015-08-12 19:03] manojlds commented on #12
Guess we need to add the ability for the Go server to assume role and access bucket in another account - http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/securitytoken/model/AssumeRoleRequest.html

This will be needed to add the package and to poll for changes.

It is an interesting use case to support, but this may not be something we can develop and test given our setu

[2015-08-13 09:12] moritzheiber commented on #12
Actually, you don't need to assume a role for accessing external resources. Bucket policies allow for cross-account access independent of account access in the account being accessed:

http://docs.aws.amazon.com/AmazonS3/latest/dev/example-walkthroughs-managing-access-example2.html

The policy mentioned in the example is attached to the EC2 instance running Go.CD using an instance profile, i.e. yo

[2015-09-09 15:48] kitplummer commented on #3
I'm seeing pretty much the same thing, clicking 'Add' doesn't do anything.  Saving causes an error:

https://www.dropbox.com/s/1mvk7kvdgbbhton/Screenshot%202015-09-09%2008.47.36.png?dl=0

[2015-09-10 09:09] ashwanthkumar commented on #3
@kitplummer Can you share the version of Go, plugin you're using?

Also can you check if there're any JS errors on the console? A snapshot of console window from Developer Tools would be helpful as well.

[2015-09-10 09:19] manojlds commented on #3
@kitplummer  There's a hack/workaround in the view to get the "Add" functionality - https://github.com/ind9/gocd-s3-artifacts/blob/master/publish/src/main/resources/views/task.template.html#L32

It was written for the "Add job" popup and it doesn't work when you add a job while adding a stage/pipeline. The workaround for now is to create the stage (with a dummy echo task?) and then add the job sep

[2015-09-10 14:54] kitplummer commented on #3
@ashwanthkumar - I'm using Go Version: 15.2.0, and built the plugins from source.  Nope, don't see any JS errors in the console.

@manojlds - Cool, thanks.  That worked.

[2015-09-10 15:04] kitplummer commented on #10
Trying to make sure I understand the context here, before I submit another GH issue.  Is the objective here to be able to create a 'static' location/bucket in S3 as the destination...to avoid the 'build_number' bucket?  This is what I need...so I can deploy artifacts to package repositories (e.g. Yum et al).

[2015-09-10 22:46] johncmckim commented on #10
@kitplummer that's the idea. This pull request add's a prefix field that can be used to replace the default prefix, i.e. normally artifacts are uploaded to pipeline/stage/job/pipelineCounter.stageCounter, but you can change that to something different (supports parameters and environment variables). I've been using my fork for ages now and it's working well for me.

[2015-09-11 14:18] kitplummer commented on #10
@johncmckim - thanks for the clarification.  @ashwanthkumar @manojlds - any ideas when the PR will/could be merged in to the project?

[2015-09-15 13:29] mpgerlek commented on #7
+1

It would be simpler if the env vars for the key could be set in the s3material package repository dialog (or set it on a per-pipeline basis and use those env vars, like for pub and fetch).

[2015-09-24 09:55] timanrebel commented on #10
@johncmckim is it possible to use the root of an S3 bucket as the destination? When I enter `/` I get a root folder with an empty name.

[2015-10-05 23:00] johncmckim commented on #10
@timanrebel I can see that happening too. I'm guessing here, but I think the issue is that a / is appended to the destination key before being sent to Amazon. So when you input / as the destination prefix, you end up with a key that is //, causing the empty folder. It should be easy to fix. I'll set a reminder to have a look at it soon.

[2015-10-10 05:01] johncmckim commented on #10
@timanrebel I have resolved this issue and updated the pull request. Apparently keys that start with / cause this.

@ashwanthkumar @manojlds any idea when this could be looked at?

[2015-10-19 04:27] ashwanthkumar opened #14 "Enable RRS as Storage Class by default on publish plugin"

[2015-11-07 03:17] #14 closed

[2015-12-20 07:23] ashwanthkumar commented on #10
Fixed via #11

[2015-12-20 07:23] #10 closed

[2015-12-28 06:50] #8 closed

[2016-02-04 14:59] haimizrael opened #23 "RRS as default Storage Class?"
We started using the ind9 s3 plugins a few months ago, and were unpleasantly surprised change #14 came in the 1.0.29 patch release.
We do not want to use RSS, and have 3 issues with this change:

1. There is no option to turn this off and use Standard redundancy (unless one forks the code)

1. It is a breaking change, not a bug-fix, so including it in a patch release could cause users of the plugi

[2016-02-04 23:58] haimizrael opened #24 "Turning on IAM Role credentials cannot be disabled"
The recently added item #21 is a nice addition to the AWS credentials options (at GCM we had implemented our own version of that but reverted back to the #21 implementation when we noticed the pull request).  One issue, however, is that because turning on this functionality it is based simply on the existence of the environment variable, there is no way to enable the feature at a higher level (e.g

[2016-02-05 05:29] manojlds commented on #24
@haimizrael - definitely, useful to have this. Will you be able to send a PR based on your implementation?

[2016-02-05 05:32] manojlds commented on #23
@haimizrael - apologies. We have not really been great at releases here, and thanks for bringing this up and keeping us honest.

We will definitely make a change to make RRS as an option, and probably move the plugin to a 2.0.0 release as well. We would love to get the features you mention in your fork.

Thanks for taking the time!

[2016-02-05 19:46] haimizrael commented on #24
Yes, for sure: will send PR likely on Monday.

Thanks!

[2016-02-05 19:49] haimizrael commented on #23
Sounds good: I'll send as a PR (first sending a PR for the other issue (#24).

Glad to be contributing to this project.

[2016-02-08 18:35] haimizrael commented on #12
We have a similar scenario where the bucket is in Account A, but Go servers / agents are either in Account A or Account B.  We have a bucket policy in Account A that permits the IAM role used by servers in Account B full access to the bucket, but are currently forced to use Access/Secret keys rather than the IAM role, due to the fact that objects uploaded from Account B are inaccessible from Accou

[2016-02-08 23:30] haimizrael opened #26 "Contents lost after fetch of 2nd artifact into pipeline root folder"
S3.fetch deletes the target directory prior to downloading files, which causes loss of data when one fetches more than one artifact into the pipeline root folder (e.g. when Destination Directory is '.').

For example, if your pipeline has 2 upstream S3 artifacts (e.g. AcceptanceTestConfig and AppPackage), where for example, in S3 the
AcceptanceTestConfig artifact is stored in folder AcceptanceTest

[2016-02-10 05:51] #23 closed

[2016-02-10 16:53] haimizrael opened #29 "Source label does not reflect upstream pipeline label"
Artifacts uploaded to S3 take on a label in the form {Pipeline Counter}.{Stage Counter}, which overrides the actual label of the pipeline that produced the artifact.  This makes it more difficult to trace deployments of versions and respond to auditor requests.

For example, if you have a build/test/package pipeline, whose label is set to **2.1.3.${COUNT}**, it will produce an artifact with versio

[2016-02-10 17:12] ashwanthkumar commented on #29
When we built the publish plugin, we wanted to mimic the Go's artifact storage scheme. Reason being - We needed consistent way for the s3 poller to find new versions - Since `GO_PIPELINE_LABEL` can have any arbitrary sting in it, it'll be impossible to find new versions.

Solution
If you want publish artifacts under custom directory scheme, you could use the "Destination" field in the Publish dial

[2016-02-10 17:16] manojlds commented on #29
@haimizrael  That approach should be possible.  Would that be a satisfactory solution?

[2016-02-10 17:25] haimizrael commented on #29
Thanks, @ashwanthkumar  and @manojlds:

Using the pipeline/stage counters as a consistent way to poll makes total sense - I assumed that was the reason for the existing setup.

Using custom directory scheme won't work for us since we'd want the S3Poller to detect changes correctly (though the custom directory scheme is a pretty cool feature for conducting "deployments" into S3 using s3publish - I

[2016-02-10 17:30] sriram-r commented on #29
Implicitly making the poller use object metadata if present else falling
back to the existing convention should be enough, isn't it?  A separate
flag to indicate which place to look for might be an overkill, I guess.
Some releases down the line, we can fully shift to using metadata, if that
helps fully.

On Wed, Feb 10, 2016 at 10:55 PM, Haim S Izrael <notifications@github.com>
wrote:

[2016-02-10 17:45] ashwanthkumar commented on #29
-1 for using object metadata for detecting new versions. Reasons being

1. There'll be performance impact while using that approach. Today we do one listing on the configured bucket, get the latest and do only one `GetObjectMetadataRequest`. If we have to use metadata - we'll end up using that many number of `GetObjectMetadataRequest` as there are listings.
2. While in-memory caching is an option

[2016-02-10 19:52] haimizrael commented on #12
@manojlds @ashwanthkumar @moritzheiber
We were able to successfully set up a cross-account scenario (as explained in the comment above).

What we needed to do to make it work is add the statement `        putObjectRequest.setCannedAcl(CannedAccessControlList.BucketOwnerFullControl);
` in method `public void put(PutObjectRequest putObjectRequest)` in S3ArtifactStore, such that artifacts uploaded fr

[2016-02-10 20:00] moritzheiber commented on #12
For me this was less of a question of policies (I know this works; IAM/Bucket Policies can do that) but rather UI/integration. How would I be adding such a bucket as a material in the UI?

[2016-02-10 20:31] haimizrael commented on #12
@moritzheiber Yes, when you define the repository, the Check Connection fails (the Check Connection does list buckets, and only those in the current account are available).  Perhaps the check can be performed a different way (perhaps using client.doesBucketExist() rather than listing buckets).

The above does not prevent one from using buckets cross-account, however.  Even though the connection ch

[2016-02-10 21:28] moritzheiber commented on #12
@haimizrael That's good news, I'll give it another try tomorrow. As far I could remember I was never able to add the plugin is a material repository, and thus also never able to reference any S3 sources in my pipelines.

[2016-02-12 01:24] #26 closed

[2016-02-12 15:48] haimizrael commented on #29
@manojlds @ashwanthkumar @sriram-r
We came up with a workable solution by:
1. Adding the original pipeline label as object metadata during s3publish (e.g. go_pipeline_label: 'x.y.z')
1. s3Material, if it finds such metadata, sets the Revision Comment to "Original revision number: x.y.z"

This does not change the behavior of pipeline label used by the plugins (still is pipeline counter.stage counte

[2016-02-12 17:40] ashwanthkumar commented on #29
@haimizrael Just to be clear, you're suggesting we can replace the highlighted section in the image with the pipeline label instead of `${COUNT}.${GO_STAGE_COUNTER}` ?

![s3-revision-label](https://cloud.githubusercontent.com/assets/600279/13015147/87cc0c54-d1dd-11e5-951f-ef465a84bdb6.png)

[2016-02-12 17:44] haimizrael commented on #29
No, that label stays intact. You get a revision comment shown above the trackback:

![image](https://cloud.githubusercontent.com/assets/7175841/13015298/e7e6f85c-d17d-11e5-85a0-493ab0c38cdb.png)

[2016-02-12 17:46] ashwanthkumar commented on #29
Ah Sweet! :+1:
@manojlds @sriram-r Thoughts?

[2016-02-22 23:11] meagonqz commented on #3
I'm seeing this on go v16.1.0, publish to s3 plugin v1.0.29 from the github releases page. The workaround doesn't work for me, as I'm seeing it while using the "Add job" popup on an already created stage.

No JS errors on the console either.

[2016-02-24 12:20] ashwanthkumar opened #31 "Add support of S3 compatible stores"
Example - https://github.com/minio/minio

Comprehensive list at https://www.quora.com/Is-there-open-source-software-that-implements-Amazon-S3-plug-compatible-storage

[2016-02-24 13:35] pradeepchhetri commented on #31
Something not in the quora article & built over cassandra: https://github.com/exoscale/pithos

[2016-02-25 01:59] ashwanthkumar commented on #31
@pradeepchhetri Thanks for that. I've converted it to a task list. Keep them coming :+1:

[2016-03-01 19:18] joelp1 opened #32 "Documentation does not specify what scope the environmental variable for the S3MaterialPoller needs."
Should the environmental variable be in the OS, or should it be within the GoCD Environment?

[2016-03-01 23:29] ashwanthkumar commented on #32
Poller runs on the server - so you need to specify the environmental variables on the OS and restart the Go Server so that it picks it up. Only task plugins has information about the environment variables set in the pipeline and run with in an agent.

Can you verify the same and if possible submit a PR for the update in documentation?

[2016-03-17 13:21] haimizrael commented on #24
Closing this due to merged PR

[2016-03-17 13:21] #24 closed

[2016-03-22 21:35] ChrisKozak commented on #32
Is that a good design choice?  Is it possible for multiple teams, each with their own AWS sandbox, to use the plugin but with different credentials?

[2016-03-23 04:44] ashwanthkumar commented on #32
No, today it's not possible for material poller plugin. But you can do it for the publish and fetch plugins though.

@ChrisKozak Actually it's a design choice of GoCD and not of the plugin. So far, we didn't have any issues with the approach. Can you please start a discussion on the mailing list of this concern? Someone should be able to help you create a patch for GoCD for this issue. 

[2016-03-23 05:03] ashwanthkumar commented on #32
@ChrisKozak I take back my word. There's a workaround actually. As part of the package configuration, would specifying the AWS profile work? You should then be able to specify multiple AWS Keys in `~/.aws/credentials` file.

Thanks to awesome @manojlds for the idea.

[2016-04-02 16:15] haimizrael commented on #29
Addressed by PR #33

[2016-04-02 16:15] #29 closed

[2016-04-27 20:04] ChrisKozak commented on #32
We'll look into it, thanks!

[2016-04-28 02:22] ashwanthkumar commented on #32
@ChrisKozak We still don't have an ability to specify the aws profile in the package configuration. If that approach sounds fine, we can either make that change or help you create a PR for the same.

[2016-05-23 05:50] manojlds opened #34 "Support publish and fetch from the same pipeline"
Currently we only support publish and fetch from different pipelines

cc: @ashwanthkumar @sriram-r

[2016-06-07 16:18] haimizrael opened #36 "Repo or Package names with period cannot be fetched"
If the repo or package name has a period, the s3.Fetch plugin cannot retrieve artifacts, since Go replaces periods with underscores when setting environment variables GO_PACKAGE_..._NAME.

In fact, Go replaces all special characters other than underscore with an underscore.

[2016-07-03 07:37] ashwanthkumar commented on #36
Fixed via #37

[2016-07-03 07:37] #36 closed

[2016-07-12 07:17] manojlds opened #38 "Ability to get latest revision apart form just counters"
When migrating pipelines from one Go server to another, it becomes tricky if we handle latest based only on the revision.

It might be good if we can provide at the package level an option to choose latest between counter  and date.

[2016-08-08 00:34] ashwanthkumar opened #39 "Publish plugin should fail if source file not found"
Publish plugin doesn't fail today if the source file is not found.

[2016-08-13 03:02] vladistan opened #40 "Support use of IAM Roles"
Some organizations require use of IAM roles and temp credentials.

It would be nice if this plugin supported it.   Here is more info:

http://docs.aws.amazon.com/java-sdk/latest/developer-guide/prog-services-sts.html

[2016-08-13 03:09] ashwanthkumar commented on #40
We have support for IAM Roles through an environment variable called `AWS_USE_IAM_ROLE`. Would help in your use-case?
Ref - http://oss.indix.com/gocd-s3-artifacts/required_environment_variables.html

[2016-08-13 03:19] vladistan commented on #40
Yes I saw that it in the code.   My case is bit different,   I have some nodes running outside of AWS they do have AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY configured, but this is not enough.

To obtain correct credentials the client first has to create [STSAssumeRoleSessionCredentialsProvider](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/STSAssumeRoleSessionCredentia

[2016-08-13 03:31] ashwanthkumar commented on #40
Ah sorry, I missed the STS part in the first comment. That's something we don't support today. It should be easy to add though. Would you be interested in taking a stab at it? I guess we can get the `roleArn` and `roleName` through environment variables.

[2016-08-13 17:21] vladistan commented on #40
Possibly,  I am super busy these days.  So if anybody else wants to take a stab at this they are more than welcome to do so.  I will try to find some time next month for this  otherwise.

[2016-08-29 01:55] ashwanthkumar commented on #6
GoCD from 17.x will stop supporting Java based Plugin API which is what we're using for Publish plugin.

Ref - https://github.com/gocd/gocd/releases/tag/16.7.0

[2016-08-29 06:13] ganeshpraburavi commented on #6
@manojlds Can you please provide some more details on what needs to be done?

[2016-08-29 10:00] manojlds commented on #6
@ganeshpraburavi - https://developer.go.cd/16.4.0/writing_go_plugins/json_message_based_plugin_api.html

We are on the old API, and need to move to the newer one.

[2016-08-29 10:14] ashwanthkumar commented on #6
If we're updating Publish plugin, check out - https://github.com/jmnarloch/gocd-task-plugin-api

[2016-09-27 05:04] ketan opened #42 "Bad links on www.go.cd"
Hi,

I noticed that you moved your repositories and there's a bunch of bad links over at www.go.cd/plugins. I could not find all the replacement URLs, so I've pointed some of the links over to this repository instead of the GH pages site that you were using.

The relevant PR is [here](https://github.com/gocd/www.go.cd/pull/348) in case you'd like to tweak some of the links.

[2016-09-27 05:16] manojlds commented on #42
Thanks @ketan . I will send a PR with fixes.

[2016-09-29 19:44] manojlds commented on #42
Final PR - https://github.com/gocd/www.go.cd/pull/350

Closing this.

[2016-09-29 19:44] #42 closed

[2016-11-18 18:23] fire opened #43 "Possible to use a bucket topmost directory?"
Is it possible to use a top level directory inside of the bucket to store the artifacts?

[2016-11-24 21:18] algra opened #44 "Error while checking connectivity against bucket from another account"
Hi guys,

We have GoCD running in one account, and artefacts bucket in another one, but GoCD still can access it because AWS policies are allowing it.

The problem with the s3material plugin is that during connectivity check it executes `client.listBuckets()`:

https://github.com/indix/gocd-s3-artifacts/blob/master/utils/src/main/java/com/indix/gocd/utils/store/S3ArtifactStore.java#L100-L106

whic

[2016-11-25 02:29] ashwanthkumar commented on #44
@algra Sorry you're running into the problem - I think this is a duplicate of #12
To me both `client.listObjects(...)` and `client.doesBucketExist` sounds good.

@haimizrael @manojlds @brewkode what do you guys think?

[2016-11-25 05:26] manojlds commented on #43
You can follow this conversation - https://github.com/indix/gocd-s3-artifacts/pull/11

It is possible to "publish" or push to the root of a bucket, or any other prefix within a bucket.

Note that this disables the use of the other two plugins - material and fetch.

[2016-11-28 10:44] ajitchahal commented on #44
Any news on this..? I would really appreciate this fix.

[2016-11-28 12:06] ashwanthkumar commented on #44
@ajitchahal Would you be able to take a stab at sending the above fix as a PR? The approaches to solving the problem has been laid out in this issue and on #12

[2016-12-21 02:35] steve-gray opened #47 "Poll from Bucket Not Maintained by GoCD"
Scenario:

- Using Drone CI to do builds, with artifacts being pushed to an S3 bucket (i.e. <my-bucket>/app/<build-number>.zip
- Using GoCD to then take those artifacts and run them through the gambit of tests and so forth.

Trouble I'm having: how do I structure the bucket or configure the S3 Material Poller? it appears to want an upstream pipelines details when there are none.

[2016-12-21 02:50] manojlds commented on #47
The plugins are really designed to work best together. The material plugin specifically looks for metadata set on S3 objects to figure out the latest artifact and upstream pipeline information.

If you are interested to take a stab at making the materials plugin work independently, we would be more than happy!

[2016-12-21 02:53] #43 closed

[2016-12-21 03:17] steve-gray commented on #47
Is there any documentation on what the metadata this is expecting is?

-Steve

[2016-12-21 04:03] manojlds commented on #47
It is an internal implementation detail, so we haven't documented it (maybe we should).

Relevant code sections - https://github.com/indix/gocd-s3-artifacts/blob/master/utils/src/main/java/com/indix/gocd/utils/store/S3ArtifactStore.java#L174-L186

There has been enough interest in the community to make these plugins work independent of each other, though that's not an use case we have internally.

[2017-02-27 05:37] #39 closed

[2017-03-11 11:23] algra opened #50 "Plugins are not working with GoCD 17.2"
Hi guys, it seems plug-ins API or so was changed within latest release of GoCD https://www.gocd.io/releases/#latest

[code]

Any ideas if plugins will be updated to work with latest version of GoCD?

[2017-03-11 11:28] algra commented on #50
Are pull requests with JSON API in titles are intended to solve this problem?

[2017-03-11 13:30] manojlds commented on #50
Yes, we will be prioritizing that effort soon.

[2017-04-06 11:58] mschmidtas24 commented on #50
Hi guys, you have any updates for us? we using now 17.3.0 and still got problems

[2017-05-10 12:02] #6 closed

[2017-05-10 12:02] manojlds commented on #50
Updated to JSON API, and tested against latest version (17.2.0+)

[2017-05-10 12:02] #50 closed

[2017-05-16 18:36] manojlds commented on #7
Fixed in #53

[2017-05-16 18:36] #7 closed

[2017-06-28 16:59] systemfreund opened #54 "s3-pusher does not work if `~/.aws/*` files are missing"
## Case 1
-  `GO_SERVER_DASHBOARD_URL`, `GO_ARTIFACTS_S3_BUCKET`, `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, `AWS_REGION` set to correct values in my gocd environment
- No `~/.aws/config` and `~/.aws/credentials` file present
Result:

[code]

Relevant stacktrace:
[code]

## Case 2
- Environment variables set like in Case 1
- File `~/.aws/config` contains:
[code]
Result:

[code]

Relevant stackt

[2017-06-29 06:06] manojlds commented on #54
@systemfreund - Thanks for the detailed issue. Will take a look. Can you please confirm the exact version you are using?

[2017-06-29 08:24] systemfreund commented on #54
I ma using version 3.1.0  of the plugin and gocd version 17.7.0

[2017-07-10 19:06] manojlds commented on #54
Sorry for the delay - Are you setting the environment variables from Go - ie pipeline level environment variables? If so I have found the bug around that.

[2017-07-12 18:42] #54 closed

[2017-07-13 06:06] manojlds commented on #54
@systemfreund can you please try the v3.2.0 release and let us know how that works out for you?

[2017-07-19 19:15] rfhayashi opened #57 "Use fetch artifact without using the material poller"
I'd like to be able use this plugin the way I manage artifacts in GoCD. Say I have pipeline A which is material of pipeline B. If one of the steps of A publishes an artifact, I just need to add a task in pipeline B that fetches the artifact, and GoCD will figure out the correct artifact. Is this possible as of now? If I understood correctly I need to add the material poller to pipeline B instead o

[2017-07-20 01:49] brewkode commented on #57
@rfhayashi Taking a stab at this. If I understand your need, you want a more reliable way of storing the artifacts that GoCD manages. Ideally, it should be the concern of Storage abstraction. i.e., we should be able to implement the storage backend and get done with it. That way, you can still continue to configure your pipeline dependencies as it is today and things would *just* work.

You need t

[2017-07-20 18:26] manojlds commented on #57
To address this point - while the main use case for us is that we can share artifacts across servers, the plugins can still be used within a single GoCD server.

@brewkode already touched upon this, but what do you consider as the difference between adding material poller pointing at A's S3 artifacts in B and adding A as a material of B?

[2017-07-20 18:47] rfhayashi commented on #57
@brewkode and @manojlds, thank you for taking the time to answer.

@manojlds, I haven't yet tested the plugin, so forgive me if I'm wrong, but the difference is that I'd lose the value stream map as the dependency between the pipelines would be indirect.

[2017-07-20 18:50] manojlds commented on #57
@rfhayashi - ah ok, got it. gocd-s3-artifacts uses the plugin extension points that GoCD offers, and this is the best we can do with that. We have the trackback url, but VSM is not possible.

[2017-07-20 20:10] rfhayashi commented on #57
@manojlds Can you get the environment variables in a task? Then you could set the fetch task (or have another kind of task) with the name of the other pipeline material plus job name and name of the artifact. From the environment variables you could get "GO_DEPENDENCY_LOCATOR_<material>" which has as value "<pipeline>/<pipeline-counter>/<stage>/<stage-counter>". With that you could locate the file

[2017-07-24 07:33] manojlds commented on #57
@rfhayashi On some analysis, looks like we can try something out. Let me know if a functionality like this works for you:

1) Pipeline A publishes artifacts using the publish plugin.
2) Pipeline B is configured with Pipeline A as material (default gocd mechanism, not s3 poller)
3) Pipeline B uses fetch plugin to get artifacts.

[2017-07-24 13:37] rfhayashi commented on #57
@manojlds That's exactly what I am looking for :) When you think you guys could work on this? I haven't yet developed a plugin, but I could try to make a PR if you're too busy right now.

[2017-07-28 12:39] rfhayashi commented on #57
@manojlds To test the idea I've made a copy of the fetch plugin and changed it to do what we discussed. It worked very well for me. You can have a look at the code here: https://github.com/indix/gocd-s3-artifacts/compare/master...rfhayashi:fetch_artifact. I haven't opened a PR yet because I don't know if that would be the final implementation. We should probably continue to have just one plugin th

[2017-07-28 13:14] manojlds commented on #57
@rfhayashi - this looks very like what I had in mind, but would have to be the same plugin with option to choose between poller or standard gocd artifacts locators.

[2017-07-28 13:23] rfhayashi commented on #57
@manojlds Cool! I'll work on that. Do you know of any plugin that I can get an example of something like that? I'm thinking of having a combo box where you choose between poller and standard, and when the user selects that, the other appropriate fields for each case are shown. I'm not very familiar with angular, so having an example would help me a lot. Or you could give some direction if you know

[2017-07-28 13:27] manojlds commented on #57
@rfhayashi - https://github.com/manojlds/gocd-docker/blob/master/docker-task/src/main/resources/views/task.template.html#L9

Also, I can work on this over the weekend if it is too much trouble for you :)

[2017-07-28 13:37] rfhayashi commented on #57
@manojlds Thank you so much! That's very kind of you, but I'd love to finish this up. Learning a lot in the process. One other thing that you could help me is about workflow. Whenever I need to test a change, I rebuild the plugin, copy to Go plugins folder, and restart Go. This takes a lot of time. The unit tests help a lot, but specially for GUI things you need to test in Go. Is there a better wo

[2017-07-31 01:33] manojlds commented on #57
@rfhayashi I add `-DpluginLocationMonitor.sleepTimeInSecs=30` to server properties to reload plugins without restart.

[2017-08-28 06:22] manojlds commented on #57
Available in https://github.com/indix/gocd-s3-artifacts/releases/tag/v4.0.0

[2017-08-28 06:22] #57 closed

[2017-08-31 09:46] varshavaradarajan commented on #54
Same issue for the material plugin.

Seems to be the case for checking connection for the package material in a pipeline. Even though environment variables are present, the server needs to have the .aws/credentials and .aws/config files.

[2017-08-31 10:02] manojlds commented on #54
@varshavaradarajan - which version of the plugin are you on?

[2017-08-31 10:43] varshavaradarajan commented on #54
v4.0.0

[2017-09-01 07:11] manojlds commented on #54
@varshavaradarajan - thanks for taking the time to go on a call. As confirmed on the call, the s3material plugin is working as intended. Will add a feature to pass credentials and region as package configuration though.

[2017-09-06 22:40] thalescm commented on #34
Are you guys planning on doing that any time soon?
If not, I'm willing to try to open a PR with the changes and we work upon that (as I never developed a plugin before)

What I'm thinking is to have a similar experience with gocd's built in artifacts:
`Stage Name`, `Job Name` and `Source Directory` as mandatory fields
`Destination` as optional field

The decision mechanism would be to use the same

[2017-09-07 09:58] thalescm commented on #34
So [this is what I had in mind](https://github.com/thalescm/gocd-s3-artifacts/pull/1)
Doing on a fork repo to open a PR here when the feature is done (and accepted).

Is still missing the core stuff, which is finding out the latest stage counter for the provided pipeline, but the structure and main idea is done and can be discussed. Feel free to comment in there!

The only problem that I'm having

[2017-09-07 10:04] ashwanthkumar commented on #34
I have a meta question, what's the motivation for doing same pipeline fetch via s3 plugin? Is it because the artifact of the pipeline is too big to fit on go-server's artifacts directory or something else? Isn't it a simple to use the existing publish and fetch mechanism in GoCD?

On the IDE part, we use IntelliJ to develop, of course to see it in action you might need to have a GoServer running o

[2017-09-07 10:13] thalescm commented on #34
We have a really big stack running in our gocd server, all our companies services, mobile (both iOS and android), data-science models and etc...

So, normal publish and fetch mechanism in GoCD is starting to be a pain and unreliable (it's still working well for small stuff, but the db is often filled and have to be cleaned up and etc...)

We've been wanting to try a different approach with s3 for

[2017-09-07 10:20] manojlds commented on #34
@thalescm - I run the server with this property - `-DpluginLocationMonitor.sleepTimeInSecs=30`. Other than that I have scripts to build the jars and copy them over to the plugin location. Have few pipelines configured in the GoCD to verify all the features. You can also post to go-cd-dev@googlegroups.com to see if they have any better setup.

[2017-09-07 10:22] manojlds commented on #34
Looks close to what I would like it to be. We can call the new one something like `SelfFetchExecutor`. I don't generally like the name refactorings, that confuses the feature with the refactoring and not sure if it is really needed here to get the feature in first.

[2017-09-07 10:23] manojlds commented on #34
The reason we developed the plugins was to help us split our workloads across many GoCD servers. We build on many different GoCD servers (owned by various teams), and fetch artifacts from other servers that run our data pipelines and such.

We are happy to support other workloads, of course.

[2017-09-07 10:28] thalescm commented on #34
I totally agree, I did it mainly due to `pipeline` material type already having a param called `job` which would conflict with the new feature `job`. I'll try to think a better way in order to not need to refactor the existing ones.

[2017-09-07 10:34] manojlds commented on #34
With the way it is implemented, and afaik, it's the best we can do, the config is share already across package and pipeline types. I think it is ok to reuse it for this one too, atleast for the initial implementation.

[2017-09-07 10:38] manojlds commented on #34
Should we make an API call to get the latest stage counter?

[2017-09-07 10:57] thalescm commented on #34
I was thinking on listing the bucket at `s3://bucket/pipeline/stage/job/`, getting the files which match (`number.number`), `split(".")` (separate pipeline counter from stage counter), filter for `pipeline counter` matching the current one, select higher stage counter. Throw if any of the steps fails.

I really don't know if there's an easier way

[2017-09-07 11:08] ashwanthkumar commented on #34
We could use the Pipeline [Stage history endpoint](https://api.gocd.org/current/#get-stage-history) to know the `latest` successful run (both pipeline counter and stage counter) of a particular stage.

[2017-09-07 11:11] thalescm commented on #34
Cool! Didn't know about that. Seems very straight forward

[2017-09-07 11:28] manojlds commented on #34
@thalescm - do you think you will be able to make a PR with taking into account the above discussion on naming, not refactoring and getting the stage counter? We will be happy to test it and merge it at the earliest :)

[2017-09-07 11:45] ashwanthkumar commented on #34
I started building a [Java Client](https://github.com/ashwanthkumar/gocd-java-client) for GoCD few months back, it doesn't have stage history support but has pipeline history support (which is used in [Slack notifier plugin](https://github.com/ashwanthkumar/gocd-slack-build-notifier) and [Janitor](https://github.com/ashwanthkumar/gocd-janitor) tool) Would you be interested in contributing that SDK

[2017-09-07 11:54] thalescm commented on #34
Humm. When and how should we collect the username and password? It's seems alright to contribute and add functionality to get latest successful stage counter. But IDK if it would this mess up with this plugin usage.

[2017-09-07 12:00] manojlds commented on #44
This is taken care of in v5.0.1

[2017-09-07 12:00] #44 closed

[2017-09-07 12:01] manojlds commented on #12
Check connection now uses listObjects. Hope that addresses most of the requirements for this issue.

[2017-09-07 12:04] thalescm commented on #34
For example, in my company we use the github plugin to authenticate users, so probably no one knows their username and password. Can't we get information on the agent running the stage in order to use it's credentials to access the API?

[2017-09-07 17:14] #32 closed

[2017-09-08 10:26] manojlds commented on #34
Thinking about it in the context of authentication to hit the api, it now feels like looking at S3 for the latest itself could be the right way forward.

[2017-09-11 18:19] thalescm commented on #34
@manojlds I've opened the PR with the changes. Will start testing it on Go to see if the UI part is ok, which I haven't done yet.

[2017-09-12 00:22] thalescm commented on #34
Updating:
Already tested on gocd.
UI and plugin working as expected. If you wish I can share the cruise xml I used to test it.

[2017-09-12 18:17] thalescm commented on #34
@manojlds any news on here?

[2017-09-13 06:17] manojlds commented on #34
@thalescm - haven't got around to looking at it yet. Will let you know soon.

[2017-09-19 07:35] manojlds commented on #34
Fixed in #59

[2017-09-19 07:35] #34 closed

[2017-11-17 21:15] syphon7 commented on #54
I am having a similar issue to the above. I have valid creds in the .aws/credentials, and I have .aws/config setup. I also have the same settings in environment variables, however I get the error:

`Could not connect to package repository. Reason(s): Interaction with plugin with id 's3material' implementing 'package-repository' extension failed while requesting for 'check-repository-connection'. R

[2017-12-11 17:13] fire opened #60 "Document using plugin from yaml"
Hi indix,

Could you document how to use from yaml?

https://github.com/tomzo/gocd-yaml-config-plugin#plugin

Thank you.

[2018-05-09 02:33] msepahvand opened #62 "Ability to add headers to the PutObjectRequest"
Hi guys. Thanks for the great plugin.

I;m wondering if there is a way to add custom headers to the put request?

I need to set this header on the PUT request:

`"s3:x-amz-acl": "bucket-owner-full-control"`

I'm happy to open a Pull Request to achieve this if there currently is no way of achieving this.

[2018-08-07 12:31] luckyrat commented on #60
For publishing to S3, the secret sauce is how the array of source and destinations needs to be represented - a string of JSON. So this example task works for me:

[code]

[2018-08-22 21:10] dhaupertcognizant opened #63 "Getting error using s3 material that region is not specified"
When trying to fetch a material I am seeing this error:
Interaction with plugin with id 's3material' implementing 'package-repository' extension failed while requesting for 'latest-revision'. Reason: [Unable to find a region via the region provider chain. Must provide an explicit region in the builder or setup environment to supply a region.]

Looking on google it seems that the initialization of

[2018-08-23 02:44] manojlds commented on #63
Is the `AWS_REGION` set as mentioned in the docs?

http://oss.indix.com/gocd-s3-artifacts/installation.html

[2018-08-27 14:20] dhaupertcognizant commented on #63
Thanks for responding.  Yes, indeed, we are setting the AWS_REGION in the environment variables set within the environment itself.  Anything else we can do to fix?

[2018-08-27 14:41] manojlds commented on #63
Hey, is this on the server jvm process you mean? Or  environment variables within GoCD?

[2018-08-27 15:00] dhaupertcognizant commented on #63
In the environment variables within GoCD.  If I click on Environments on GoCD Server, and then the settings cog/wheel it will be set/shown along the right side.

[2018-08-27 15:06] manojlds commented on #63
That doesn't work for the material fetch since that happens in the server and not the agents. You need to set it in your shell environment / os / startup script etc.

[2018-09-05 06:36] #63 closed

[2018-09-06 02:52] GoCDmigration opened #64 "Plugin returned with code '500' and the following response: 'null'"
Getting the following error  in GoCD even after setting the AWS_REGION variable in the environment and in the SHELL. Please find the details below.

**Modification check failed for material: Repository: [s3_bucket=samples3] - Package: [pipeline_name=Test_Pipeline=Package_Beta, job_name=create_beta_artifact]04 Sep, 2018 at 10:21:40 Local Time
Interaction with plugin with id 's3material' implementin

[2018-09-11 06:48] #64 closed

[2019-01-28 05:02] brewkode opened #67 "Fetch plugin breaks gocd versions >18.10"
The recent changes to fetch plugin to support references to packages published from the same pipeline causes incompatibility with gocd > 18.10 versions. We've tested with 18.11 and 18.12 and both versions of gocd exhibit the same behavior if the s3fetch plugin is installed.

Ref: [gocd#5773](https://github.com/gocd/gocd/issues/5773)

[2019-05-09 12:41] ygbillet commented on #31
Hi,

Any news on this ?

[2019-09-26 17:18] dlethin opened #70 "plugin does not work with java 11 currently bundled in with gocd agent"
It seems there is a problem trying to run this plugin on an agent using the embedded java 11 version.  I get the following error message

[code]

I had to install openjdk 8 and setup the agent to run that instead.  With GoCD dropping support for Java 8 going forward, is there a recommended way to handle this?  Can the missing dependencies be packaged into the plugin with an update to the dependenc

[2019-09-27 06:34] ashwanthkumar commented on #70
@dlethin Thanks for reporting this. This is being worked upon in #71, we should be able to get a release out soon and it would be great if you can help us test it.

[2019-09-28 13:54] dlethin commented on #70
Thanks for the fast turnaround time.  I will try to test this out early next week on an agent running 8 and one running 11 and see what happens.

[2019-09-30 12:16] dlethin commented on #70
My initial attempt to test this out was not successful, though its possible I did something in haste.  I built a copy of the the plugin jar off the specific branch and uploaded it into my server's `plugins/external` directory ( commenting out the existing v5.2.1 copy) and restarted the server.

However, when I then navigated in the UI to a template that was configured to use the publish task suppl

[2019-10-01 02:06] dlethin commented on #70
I tracked down the error message causing the plugin not to load in the `go-server.log`:

```2019-10-01 02:00:27,531 ERROR [Thread-82] FelixGoPluginOSGiFramework:145 - Failed to load plugin: plugins_work/s3publish-assembly-1.0.0-1569580357-SNAPSHOT.jar. Plugin is invalid. Reasons [Class [module-info] could not be loaded. Message: [module-info is not a class because access_flag ACC_MODULE is set].]`

[2019-10-01 02:53] dlethin commented on #70
I guess there is something in the new dependendencies that is getting bundled into the jar that gets produced that is tripping up java.  Is it possible to change how the structure of the jar file to match the guidelines specified by gocd -- https://developer.gocd.org/current/writing_go_plugins/go_plugins_basics.html

It seems that all the dependent jar files are getting all unjarred and packaged u

[2019-10-01 03:08] ashwanthkumar commented on #70
Thank you so much  @dlethin for the detailed analysis. Let me take a look and get back in here.

[2019-11-05 15:56] dlethin commented on #70
Any thoughts on this?  This problem is preventing us from picking up the latest versions of the GoCD which no longer support Java 8.

I don't have any experience with SBT to help much with this, but I could possibly help with setting up a build.gradle file to drive the build of the jars if that was a direction you wanted to consider,  but I don't know if your scripts are doing anything else like p

[2019-11-06 07:34] ashwanthkumar commented on #70
@dlethin Sorry about the delay. We still use Java8 in our organization so it's kinda hard to check this from my end. I did some more debugging and realised the `module-info.class` which is the descriptor for java modules got added by some java library which is probably causing the issue.  On top, scala also doesn't support Java Module system yet so the tooling in the ecosystem is still not mature.

[2019-11-06 19:00] dlethin commented on #70
Thanks for the quick turn around.  I'll schedule some time hopefully within a day to test this out and get back to you.

[2019-11-09 03:00] dlethin commented on #70
@ashwanthkumar -  While I have yet to test this out in my production system, I did download the latest GoCD server/agent and installed a build of your plugin off the associated branch and I was able to publish an artifact to s3.  This was using the embedded openjdk 13.    So I think things look good.  Thanks for the quick turnaround time on this.  Cheers.

[2019-11-09 06:03] ashwanthkumar commented on #70
Awesome. That's good to know. I'll cut out a release sometime soon.

[2019-11-11 05:32] #70 closed

[2019-11-20 14:16] greybeggars opened #72 "Error: javax/xml/bind/JAXBException"
in java 9 and 10 this library is no longer active by default and in java 11 its removed and has to be included as a separate library

here is an article on fixing the issue if the xml library is still needed
https://www.jesperdj.com/2018/09/30/jaxb-on-java-9-10-11-and-beyond/

[2019-11-20 14:18] greybeggars commented on #72
didnt see there was already an issue for this sorry

[2019-11-20 14:18] #72 closed

[2019-12-07 01:54] vladistan opened #73 "Push artifact path problem when master is Windows and agent is Linux"
I have a master running on Windows machine,  and one of the agents is a linux machine.  I am trying to setup a job that will upload the artifact to S3 using this plugin.   Unfortunately I see there is a problem with this type of setup.  Apparently the master is trying to compose the string with the location of the and uses Windows path separator on linux box.

Here is what I see in the build logs

[2020-02-03 08:00] paambaati opened #74 "Cannot upload on GoCD 20.1.0"
I'm trying out the plugin on GoCD 20.1.0, and I see that publish to S3 is failing.

[code]

If there's additional information I can provide, let me know.

[2020-02-03 08:36] paambaati commented on #74
If https://github.com/indix/gocd-s3-artifacts/pull/71 fixes this issue, would you folks mind cutting a new release?

CC: @manojlds @ashwanthkumar @brewkode

[2020-02-03 09:31] manojlds commented on #74
Published v0.6.0 release

[2020-02-03 09:54] paambaati commented on #74
@manojlds Did you mean to publish `v6.0.0`? Because the last published version was `v5.2.1`.

[2020-02-06 05:19] manojlds commented on #74
Yeah have fixed it to be v6.0.0

[2020-02-11 01:38] vladistan opened #75 "Upload multiple artifacts from a single pipeline"
I have a build that produces multiple files . ( binaries,  debug info,  etc )

Is it possible to have  each of these files as a separate package.  The upload actually works, I do see files appearing in S3 bucket.  However,  when I try to configure them as packages, I can only successfully configure the first one.  When I am trying to configure the second one I get an error saying that I have a dup

[2020-02-20 10:04] #74 closed

[2022-05-18 13:53] #12 closed